
body {
  background: #8fb0a9;
}

.table-fixed {
  margin-left: 25rem;
  margin-top: 10rem;
}

.table-fixed thead,
.table-fixed thead>th {
  background: #4d7275;
  color: #fff;
}

.table-fixed tbody tr td {
  background: #fff;
}

.table-fixed>thead>tr>th {
  border: 0 !important;
}

.table-fixed>tbody>tr>td:last-child {
  border-right: 0;
}

.table-fixed tbody td,
.table-fixed thead>tr>th {
  float: left;
  font-size: 14px;
  padding-left: 20px !important;
}

.table-fixed .col {
  width: 25%;
}

.table-fixed tbody {
  display: block;
  height: 300px;
  overflow-y: auto;
}

.table-fixed tr {
  display: block;
}



        .button {
          position: relative;
          background-color: #383838;
          border: none;
          font-size: 20px;
          color: #FFFFFF;
          padding: 5px;
          width: 200px;
          text-align: center;
          transition-duration: 0.4s;
          text-decoration: none;
          overflow: hidden;
          cursor: pointer;
        }
        
        .button:after {
          content: "";
          background: #f1f1f1;
          display: block;
          position: absolute;
          padding-top: 300%;
          padding-left: 350%;
          margin-left: -20px !important;
          margin-top: -120%;
          opacity: 0;
          transition: all 0.8s
        }
        
        .button:active:after {
          padding: 0;
          margin: 0;
          opacity: 1;
          transition: 0s
        }

input[type=text], select {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 20%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

